.personalInfo{
      top:10%;
      width: 100%;
      padding-top: 15%;}
.btn{
  height: 70px !important;
  margin-top: 3rem;
}
  #homePage{
      width: 100%;
      text-align: center;
      background-image:url(../images/background1.jpg);
      background-size:cover;
      position:relative;
      height:100vh;
      }
  #head-shot{
      top:10%;
      height:200px;
      border-radius: 50%;
  }
  #aboutmePage{
    width: 100%;
    text-align: center;
    background-image: url(../images/background2.jpg);
    background-size: cover;
    position:relative;
    height: 100vh;
  }
  #projectPage{
      width: 100%;
      text-align: center;
      /*background-image:url(../static/images/background1.jpg);*/
      background-color: black;
      background-size:cover;
      position:relative;
      height:100vh;
  }
  #contactPage{
      width: 100%;
      text-align: center;
      background-image:url(../images/background4.jpg);
      background-size:cover;
      position:relative;
      height:100vh;
  }
  #footer{
    margin-top: 10%;
    color: white;
  }
  #skillsPage{
    width: 100%;
    text-align: center;
    background-image: url(../images/background3.jpg);
    background-size: cover;
    position:relative;
    height: 100vh;
    padding-top: 8vh;
  }
.skillbox{
  /*height: 250px;*/
  /*width: 300px;*/
  text-align: center;
  vertical-align: top;
  display: inline-block;
  /*margin: 10px;*/
}
.skillbox img{
  background-color: white;
  display: inline-block;
  height: 60px;
  width: 60px;
  border-radius: 8px;
  margin: 7px;
}
.icons{
  color:#29b6f6;
  margin-left: 20px;
  margin-right: 20px;
}
.skillbox h2{
  color: white
}
a{color:white;}
a:visited{color: white;};
a:hover{color: white;};
a:active{color: white;};
.material-icons .md-48{ font-size: 48px; color:blue}
.blast{display: inline-block;}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 736px) {
    .skillbox img { height: 35px; width: 35px;}
    #aboutmePage { height: 105vh;}
    #skillsPage { height: 105vh;}
}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 414px) {

}
@media only screen
and ( min-device-width : 737px ){
  .skillbox{
    height: 250px;*/
    width: 300px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    *margin: 10px;
  }
}
